#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 250px; 
  height: auto;   
}

.img {
  width: 100%; 
  max-width: 450px;
  height: auto;   
  border-radius: 50px;
  margin-top: 0px;
  box-shadow: 10px 10px 15px black;
  animation: fadeIn 1s ease-out; /* Fade-in animation */
}

.facebookLogo {
  width: 50px; 
  height: auto;   
  margin-top: 10px;
}

.IOS, .Android {
  width: 100%;
  max-width: 210px; 
  height: auto;   
}

.content {
  max-width: 800px;
  padding: 30px;
  margin: 50px auto 20px;
  text-align: left;
  color: #000000;
  background-color: #D9D9D9;
  border-radius: 50px;
  border: black solid 2px;
  box-shadow: 10px 10px 15px black;
  animation: fadeIn 1s ease-out; /* Fade-in animation */
}

.content p {
  font-size: 1.1em;
  line-height: 1.6;
  font-style: italic;
}

.content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content button:hover {
  background-color: #535bf2;
}

.services-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.services-list.expand {
  max-height: 500px; /* Adjust based on content size */
  padding: 15px;
}

.services-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-list li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
  animation-delay: var(--animation-delay);
}

.services-list li:nth-child(1) { --animation-delay: 0.1s; }
.services-list li:nth-child(2) { --animation-delay: 0.2s; }
.services-list li:nth-child(3) { --animation-delay: 0.3s; }
.services-list li:nth-child(4) { --animation-delay: 0.4s; }
.services-list li:nth-child(5) { --animation-delay: 0.5s; }

.services-list li:last-child {
  border-bottom: none;
}

.moreInfo {
  max-width: 270px;
  padding: 50px;
  margin: 50px auto;
  border-radius: 50px;
  background-color: #D9D9D9;
  border: black solid 2px;
  box-shadow: 10px 10px 15px black;
  animation: fadeIn 1s ease-out; /* Fade-in animation */
}

.moreInfo p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.timeinfo {
  max-width: 400px;
  padding: 30px;
  margin: 50px auto;
  border-radius: 50px;
  background-color: #D9D9D9;
  border: black solid 2px;
  box-shadow: 10px 10px 15px black;
  animation: fadeIn 1s ease-out; /* Fade-in animation */
}

.timeinfo h2 {
  text-align: center;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 900;
  padding: 10px;
  margin: 5px;
}

.timeinfo p {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-style: italic;
}

.timeinfo li {
  text-align: left;
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
  color: rgb(0, 0, 0);
}

/* Responsive Design */
@media (max-width: 1200px) {
  .header h1 {
    font-size: 1.5em;
  }

  .content, .moreInfo, .timeinfo {
    max-width: 80%;
  }

  .footer-text {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 1.2em;
  }

  .content, .moreInfo, .timeinfo {
    max-width: 100%;
    padding: 20px;
  }

  .footer-text {
    max-width: 100%;
  }

  .timeinfo h2 {
    font-size: 1.5em;
  }

  .timeinfo p, .timeinfo li {
    font-size: 1em;
  }
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-start;
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
